<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container background-image"> <!-- Add the background-image class here -->
        <h2>Chest X-ray Pneumonia Detection</h2>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept=".png, .jpg, .jpeg"><br><br>
            <input type="submit" value="Upload">
        </form>
    </div>
</body>
</html>
